*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 65%;
}
@media screen and (max-width : 900px) {
  html{
    font-size: 44%;
  }
  
}
@media screen and (max-width : 600px) {
  html{
    font-size: 34%;
  }
  
}
@media screen and (max-width : 400px) {
  html{
    font-size: 28%;
  }
  
}
